@charset "UTF-8";
* {
  font-family: "微軟正黑體" !important;
  box-sizing: border-box !important;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}
* .container {
  max-width: 1440px;
  margin: auto;
  padding: 24px 0;
}
@media (max-width: 1550px) {
  * .container {
    max-width: 1280px;
  }
}
@media (max-width: 1367px) {
  * .container {
    max-width: 1140px;
  }
}
@media (max-width: 1024px) {
  * .container {
    max-width: initial;
    padding-top: 16px;
    width: 90%;
  }
}
@media (max-width: 768px) {
  * .container {
    width: 90%;
  }
}
@media (max-width: 568px) {
  * .container {
    padding-top: 16px;
  }
}
* h1 {
  font-size: 1.875rem;
  color: black;
  padding: 0;
  margin: 0;
  line-height: 1.25;
  font-weight: bold;
}
* h2 {
  font-size: 1.75rem;
  color: black;
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
  line-height: 1.25;
}
* h2:not(:first-of-type) {
  margin-top: 20px;
}
* h3 {
  font-size: 1.625rem;
  color: black;
  padding: 0;
  margin: 0;
  line-height: 1.25;
}
* h4 {
  font-size: 1.375rem;
  color: black;
  padding: 0;
  margin: 0;
  line-height: 1.25;
  margin-bottom: 12px;
}
* h5 {
  font-size: 1.25rem;
  color: black;
  margin: 0;
  line-height: 1.5;
}
* p {
  font-size: 1rem;
  color: #666666;
  padding: 0;
  margin: 0;
  line-height: 2;
  font-weight: 500;
  text-align: justify;
  word-wrap: break-word;
  word-break: break-all;
}
* .ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
* a {
  text-decoration: none !important;
  list-style: none !important;
  color: #7D0000;
}
* a:hover {
  color: #4A2121;
}
* ul:not(.nav, .breadcrumb) {
  padding: 0;
  margin-bottom: 0;
}
* ul:not(.nav, .breadcrumb) li:not(.nav-item) {
  line-height: 2;
  color: #666666;
  list-style-position: inside;
}
@media (max-width: 568px) {
  * ul:not(.nav, .breadcrumb) li:not(.nav-item) {
    margin-bottom: 12px !important;
  }
}
* .fa,
* .fas,
* .far,
* .fal,
* .fad,
* .fab {
  font-family: "Font Awesome 5 Free" !important;
}
* :focus {
  outline: #fcd256 dotted 3px !important;
}
* :focus > :focus-within {
  outline: #fcd256 dotted 3px !important;
}
* #AU {
  font-size: 1.25rem;
  color: transparent;
  margin: 0 12px;
}
* #AU:focus {
  color: #BE5555;
}
* #AC {
  position: absolute;
  left: 5%;
  top: 150px;
  font-size: 1.25rem;
  color: #dcdddd;
  margin: 0 12px;
  color: transparent;
}
* #AC:focus {
  color: #BE5555;
}
@media (max-width: 1367px) {
  * #AC {
    left: -10px;
  }
}
* #AZ {
  position: absolute;
  left: 0;
}
* #AZ:focus {
  font-size: 1.25rem;
  color: #dcdddd;
  margin: 0 12px;
  color: white;
}
* .clearfix {
  clear: both;
}
* h1,
* h2,
* h3,
* h4,
* h5,
* h6 {
  font-weight: bold;
}
* ::-moz-selection {
  color: white;
  background-color: #4A2121;
}
* ::selection {
  color: white;
  background-color: #4A2121;
}
* .notice {
  color: #da382d !important;
  margin: 0 !important;
}
* hr {
  width: 100%;
  border-top: 1px solid #dcdddd;
  margin: 12px auto;
}
* select,
* input[type=button] {
  -webkit-appearance: none; /* Safari & Chrome */
  -moz-appearance: none; /* FireFox */
  appearance: none;
}
* input[type=search]::-webkit-search-decoration,
* input[type=search]::-webkit-search-cancel-button,
* input[type=search]::-webkit-search-results-button,
* input[type=search]::-webkit-search-results-decoration {
  display: none;
}
* input[type=number]::-webkit-outer-spin-button,
* input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
* input[type=number] {
  -moz-appearance: textfield;
}
* label {
  width: 100%;
  padding: 0;
  color: black;
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
  margin-bottom: 4px;
}
* input:not(.custom-control-input) {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: solid 1px #919191;
  background-color: white;
  color: #666666;
  padding: 0 8px;
  font-size: 1rem;
  line-height: 1.5;
}
* input {
  display: inline-block;
}
* input:-webkit-autofill, * input:-webkit-autofill:hover, * input:-webkit-autofill:focus, * input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s; /*透明*/
}
* input[type=submit], * input[type=reset] {
  border: none;
  background-color: #4A2121;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 4px;
  padding: 4px 24px;
  text-decoration: none;
  margin: 4px;
  cursor: pointer;
}
* input[type=submit]:hover, * input[type=reset]:hover {
  filter: brightness(1.05);
}
* input[type=button] {
  border: none;
  color: white;
  background-color: #4A2121;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 4px;
  padding: 4px 24px;
  text-decoration: none;
  cursor: pointer;
}
* input[type=button]:hover {
  filter: brightness(1.05);
}
* input[type=button].outline {
  background-color: white;
  color: #4A2121;
  border: solid 1px #4A2121;
}
* input[type=file] {
  border: none;
  padding: 8px 0;
}
* input[disabled] {
  background-color: #ebebeb;
  opacity: 1;
  cursor: not-allowed;
}
* input[disabled]:hover {
  background-color: #e5e5e5;
}
* input[type=checkbox], * input[type=radio] {
  width: 20px;
  height: 20px;
  line-height: 2;
  margin-right: 8px;
  display: inline;
  accent-color: #4A2121;
}
@media (max-width: 568px) {
  * input[type=checkbox], * input[type=radio] {
    width: 25px;
    height: 25px;
  }
}
* input.submit {
  width: auto !important;
}
* input.red {
  background-color: #da382d;
  color: white;
}
* ::-moz-placeholder {
  color: #666666;
}
* ::placeholder {
  color: #666666;
}
* select {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: solid 1px #919191;
  background: url("../img/chevron-down-solid.svg") no-repeat scroll transparent;
  background-position: 97% center;
  background-color: white;
  color: #666666;
  padding: 0 8px;
  line-height: 2;
}
* select::-ms-expand {
  display: none;
}
* select option {
  color: #666666;
  line-height: 2;
  height: 40px;
  padding: 10px 0;
}
* select option:hover {
  background-color: #7D0000;
}
* select[disabled] {
  background-color: #ebebeb;
  opacity: 1;
  cursor: not-allowed;
}
* select[disabled]:hover {
  background-color: #e5e5e5;
}
* .select2-container--default .select2-selection--single {
  height: 40px;
}
* .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 40px;
  background: url("../img/chevron-down-solid.svg") no-repeat scroll transparent;
  background-position: 98% center;
}
* .select2-container--default .select2-selection--single .select2-selection__arrow {
  display: none;
}
* textarea {
  width: 100%;
  border-radius: 5px;
  border: solid 1px #919191;
  padding: 8px;
  resize: none;
}
* textarea[disabled] {
  background-color: #ebebeb;
  opacity: 1;
  cursor: not-allowed;
}
* textarea[disabled]:hover {
  background-color: #e5e5e5;
}
* button {
  height: 40px;
  font-size: 1.25rem;
  padding: 0 12px;
  border: none;
  background-color: #4A2121;
  color: white;
  border-radius: 4px;
  font-weight: bold;
  line-height: inherit;
  cursor: pointer;
}
* button:hover {
  filter: brightness(1.05);
}
* button[disabled] {
  background-color: #BE5555;
  opacity: 1;
  cursor: not-allowed;
}
* button[disabled]:hover {
  background-color: #BE5555;
}
* button i {
  margin-right: 8px;
}
* button.more {
  padding: 4px 16px;
  background-color: #4A2121;
}
* button.notice {
  background-color: #da382d !important;
  color: white !important;
}
* .button-outline {
  border-radius: 4px;
  font-size: 1.25rem;
  padding: 4px 24px;
  background-color: transparent !important;
  color: #4A2121 !important;
  border: solid 1px #4A2121;
  font-weight: bold;
  cursor: pointer;
}
* .button-outline:hover {
  filter: brightness(1.05);
}
* .button-outline[disabled] {
  background-color: #BE5555;
  opacity: 1;
  cursor: not-allowed;
}
* .button-outline[disabled]:hover {
  background-color: #BE5555;
}
* .button-outline i {
  margin-right: 8px;
}
* .modal-template {
  padding: 0 !important;
}
@media (max-width: 568px) {
  * .modal-template form {
    padding: 0;
  }
}
@media (max-width: 768px) {
  * .modal-template .modal-dialog {
    max-width: 600px;
  }
}
* .modal-template .modal-dialog .modal-content {
  border-radius: 15px;
}
* .modal-template .modal-dialog .modal-content .modal-header {
  width: 100%;
  border-bottom: none;
  padding: 0;
  margin-top: 36px;
  margin-bottom: 12px;
}
@media (max-width: 1024px) {
  * .modal-template .modal-dialog .modal-content .modal-header {
    margin: 24px 0;
  }
}
* .modal-template .modal-dialog .modal-content .modal-header .modal-title {
  width: 100%;
  text-align: center;
}
* .modal-template .modal-dialog .modal-content .modal-header .close {
  position: absolute;
  top: 16px;
  right: 16px;
}
* .modal-template .modal-dialog .modal-content .modal-body {
  width: 100%;
  margin: auto;
  padding: 16px 64px;
}
@media (max-width: 1024px) {
  * .modal-template .modal-dialog .modal-content .modal-body {
    padding: 0 32px;
  }
}
@media (max-width: 568px) {
  * .modal-template .modal-dialog .modal-content .modal-body {
    padding: 0 24px;
  }
}
@media (max-width: 568px) {
  * .modal-template .modal-dialog .modal-content .modal-body h2 {
    font-size: 1rem;
  }
}
* .modal-template .modal-dialog .modal-content .modal-body .form-gp {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: start;
  margin-bottom: 20px;
}
@media (max-width: 568px) {
  * .modal-template .modal-dialog .modal-content .modal-body .form-gp {
    flex-wrap: wrap;
    margin-bottom: 12px;
  }
}
* .modal-template .modal-dialog .modal-content .modal-body .form-gp label {
  width: 40%;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: bold;
  color: black;
  margin: 0;
}
@media (max-width: 568px) {
  * .modal-template .modal-dialog .modal-content .modal-body .form-gp label {
    width: 100%;
  }
}
* .modal-template .modal-dialog .modal-content .modal-body .form-gp input,
* .modal-template .modal-dialog .modal-content .modal-body .form-gp select,
* .modal-template .modal-dialog .modal-content .modal-body .form-gp textarea {
  width: 60%;
}
@media (max-width: 568px) {
  * .modal-template .modal-dialog .modal-content .modal-body .form-gp input,
  * .modal-template .modal-dialog .modal-content .modal-body .form-gp select,
  * .modal-template .modal-dialog .modal-content .modal-body .form-gp textarea {
    width: 100%;
  }
}
* .modal-template .modal-dialog .modal-content .modal-body .form-gp .address {
  width: 60%;
  display: flex;
}
@media (max-width: 568px) {
  * .modal-template .modal-dialog .modal-content .modal-body .form-gp .address {
    width: 100%;
  }
}
* .modal-template .modal-dialog .modal-content .modal-body .form-gp .address select {
  width: 49%;
  margin-bottom: 0;
}
@media (max-width: 568px) {
  * .modal-template .modal-dialog .modal-content .modal-body .form-gp .address select {
    width: 100%;
    margin-bottom: 12px;
  }
  * .modal-template .modal-dialog .modal-content .modal-body .form-gp .address select:last-child {
    margin-bottom: 0;
  }
}
* .modal-template .modal-dialog .modal-content .modal-body .form-gp .text {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
}
* .modal-template .modal-dialog .modal-content .modal-body .form-gp p {
  margin-bottom: 20px;
}
* .modal-template .modal-dialog .modal-content .modal-body .form-gp p.notice {
  text-align: right;
}
* .modal-template .modal-dialog .modal-content .modal-body .form-gp .file-upload {
  width: 60%;
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 568px) {
  * .modal-template .modal-dialog .modal-content .modal-body .form-gp .file-upload {
    flex-wrap: wrap;
    margin-bottom: 12px;
  }
}
* .modal-template .modal-dialog .modal-content .modal-body .form-gp .file-upload label {
  width: 40%;
}
@media (max-width: 568px) {
  * .modal-template .modal-dialog .modal-content .modal-body .form-gp .file-upload label {
    width: 100%;
  }
}
* .modal-template .modal-dialog .modal-content .modal-body .form-gp .file-upload input[type=button] {
  width: auto;
  margin-bottom: 8px;
}
* .modal-template .modal-dialog .modal-content .modal-body .form-gp .file-upload input[type=file] {
  width: 100%;
  height: 40px;
}
* .modal-template .modal-dialog .modal-content .modal-body .form-gp .finished-file-list {
  display: flex;
  flex-direction: column;
  margin: 12px 0;
  width: 100%;
}
* .modal-template .modal-dialog .modal-content .modal-body .form-gp .finished-file-list .file-gp {
  font-size: 1rem;
  padding: 0;
  margin: 0;
  text-align: left;
  border-radius: 6px;
  display: flex;
  align-items: start;
  margin-bottom: 8px;
}
* .modal-template .modal-dialog .modal-content .modal-body .form-gp .finished-file-list .file-gp .file-name {
  margin-bottom: 0;
}
* .modal-template .modal-dialog .modal-content .modal-body .form-gp .finished-file-list .file-gp i {
  margin-right: 8px;
  font-size: 1rem;
}
* .modal-template .modal-dialog .modal-content .modal-body .form-gp .finished-file-list .file-gp .icon-btn {
  margin-left: 12px;
  height: unset;
}
* .modal-template .modal-dialog .modal-content .modal-body .form-gp .finished-file-list .file-gp .icon-btn i {
  margin-right: 0;
}
* .modal-template .modal-dialog .modal-content .modal-body .form-gp .finished-file-list .file-gp .download-file {
  font-size: 1rem !important;
  padding: 0;
  text-align: left;
  border-radius: 6px;
  color: #7D0000;
  line-height: 2;
  width: auto;
}
* .modal-template .modal-dialog .modal-content .modal-body .form-gp .finished-file-list .file-gp .download-file i {
  margin-right: 8px;
  font-size: 1rem;
}
* .modal-template .modal-dialog .modal-content .modal-body .form-gp .finished-file-list .a-gp {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: start;
}
* .modal-template .modal-dialog .modal-content .modal-body .form-gp .finished-file-list .a-gp a {
  font-size: 1rem;
  line-height: 1.75;
}
* .modal-template .modal-dialog .modal-content .modal-body .form-gp .finished-file-list .a-gp a i {
  margin-right: 8px;
  font-size: 1rem;
}
* .modal-template .modal-dialog .modal-content .modal-body .form-gp .finished-file-list .text-gp {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
* .modal-template .modal-dialog .modal-content .modal-body .form-gp .finished-file-list .text-gp .file-name {
  width: 70%;
}
* .modal-template .modal-dialog .modal-content .modal-body .form-gp .finished-file-list .text-gp .item {
  display: flex;
  align-items: center;
  margin-left: 36px;
}
* .modal-template .modal-dialog .modal-content .modal-body .form-gp .finished-file-list .text-gp .item label {
  width: auto;
  min-width: 80px;
  font-size: 1rem;
}
* .modal-template .modal-dialog .modal-content .modal-body .form-gp .finished-file-list .text-gp .item input[type=checkbox],
* .modal-template .modal-dialog .modal-content .modal-body .form-gp .finished-file-list .text-gp .item input[type=radio] {
  width: 20px !important;
  height: 20px !important;
}
* .modal-template .modal-dialog .modal-content .modal-body .choice-btn h5 {
  width: 40%;
}
@media (max-width: 568px) {
  * .modal-template .modal-dialog .modal-content .modal-body .choice-btn h5 {
    width: 100%;
  }
}
* .modal-template .modal-dialog .modal-content .modal-body .choice-btn .modal-choice-gp {
  width: 60%;
  display: flex;
}
* .modal-template .modal-dialog .modal-content .modal-body .choice-btn .modal-choice-gp .item {
  margin-bottom: 0;
}
* .modal-template .modal-dialog .modal-content .modal-body .choice-btn .modal-choice-gp .item label {
  width: auto;
  margin-right: 12px;
  height: 40px;
  line-height: 40px;
}
* .modal-template .modal-dialog .modal-content .modal-body .code-gp {
  width: 100%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  * .modal-template .modal-dialog .modal-content .modal-body .code-gp {
    justify-content: start;
  }
}
* .modal-template .modal-dialog .modal-content .modal-body .code-gp label {
  width: 40%;
  text-align: left;
}
@media (max-width: 568px) {
  * .modal-template .modal-dialog .modal-content .modal-body .code-gp label {
    width: 30%;
  }
}
* .modal-template .modal-dialog .modal-content .modal-body .code-gp .text-gp {
  width: 50%;
  display: flex;
  align-items: center;
}
@media (max-width: 568px) {
  * .modal-template .modal-dialog .modal-content .modal-body .code-gp .text-gp {
    width: 100%;
    justify-content: start;
    flex-wrap: wrap;
  }
}
* .modal-template .modal-dialog .modal-content .modal-body .code-gp .text-gp .code {
  width: 60%;
  margin-right: 10px;
}
@media (max-width: 568px) {
  * .modal-template .modal-dialog .modal-content .modal-body .code-gp .text-gp .code {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-right: 0;
  }
}
* .modal-template .modal-dialog .modal-content .modal-body .code-gp .text-gp .RP {
  height: 25px;
  margin: 0;
  margin-right: 10px;
}
@media (max-width: 1367px) {
  * .modal-template .modal-dialog .modal-content .modal-body .code-gp .text-gp .RP {
    width: auto;
    max-height: unset;
    height: 30px;
  }
}
@media (max-width: 568px) {
  * .modal-template .modal-dialog .modal-content .modal-body .code-gp .text-gp .RP {
    height: 35px;
    margin-left: 0;
  }
}
@media (max-width: 320px) {
  * .modal-template .modal-dialog .modal-content .modal-body .code-gp .text-gp .RP {
    height: 30px;
  }
}
* .modal-template .modal-dialog .modal-content .modal-body .code-gp .text-gp .reform {
  margin-right: 12px;
  height: auto;
  color: #4A2121;
  font-weight: bold;
  padding: 4px 8px;
  background-color: #FFF9F9;
}
@media (max-width: 568px) {
  * .modal-template .modal-dialog .modal-content .modal-body .code-gp .text-gp .reform {
    height: 40px;
    padding: 4px 12px;
  }
}
* .modal-template .modal-dialog .modal-content .modal-body .code-gp .text-gp .reform i {
  margin: 0;
  font-size: 1.25rem;
}
* .modal-template .modal-dialog .modal-content .modal-body .code-gp .text-gp .btnPlayAudio {
  height: auto;
  color: #4A2121;
  font-weight: bold;
  padding: 4px 8px;
  background-color: #FFF9F9;
}
@media (max-width: 568px) {
  * .modal-template .modal-dialog .modal-content .modal-body .code-gp .text-gp .btnPlayAudio {
    height: 40px;
    padding: 4px 12px;
  }
}
* .modal-template .modal-dialog .modal-content .modal-body .code-gp .text-gp .btnPlayAudio i {
  margin: 0;
  font-size: 1.25rem;
}
* .modal-template .modal-dialog .modal-content .modal-body .notify-gp p {
  width: 100%;
  font-weight: bold;
  text-align: left;
  margin-bottom: 0;
  line-height: 2;
}
* .modal-template .modal-dialog .modal-content .modal-body .notify-gp .text-gp {
  margin-bottom: 12px;
}
* .modal-template .modal-dialog .modal-content .modal-body .notify-gp .text-gp i {
  margin-right: 8px;
}
* .modal-template .modal-dialog .modal-content .modal-body .notify-gp .text-gp .notice {
  font-size: 1.25rem;
}
@media (max-width: 568px) {
  * .modal-template .modal-dialog .modal-content .modal-body .notify-gp ul {
    padding-left: 16px;
  }
}
* .modal-template .modal-dialog .modal-content .modal-body .notify-gp ul li {
  font-weight: bold;
  list-style: disc;
  list-style-position: outside;
}
* .modal-template .modal-dialog .modal-content .modal-footer {
  border-top: none;
  margin: 20px 0;
  padding: 0;
  padding: 0 24px;
}
* .modal-template .modal-dialog .modal-content .modal-footer button {
  margin-left: 12px;
}
@media (max-width: 568px) {
  * .modal-template .modal-dialog .modal-content .modal-footer {
    padding: 0 24px;
    display: flex;
    flex-direction: column;
  }
  * .modal-template .modal-dialog .modal-content .modal-footer button {
    width: 100%;
    margin: 0;
  }
  * .modal-template .modal-dialog .modal-content .modal-footer button:not(:first-child) {
    margin-top: 20px;
  }
}
* .pagination {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  white-space: nowrap;
}
@media (max-width: 568px) {
  * .pagination {
    justify-content: center;
    text-align: left;
    white-space: initial;
    margin-top: 20px;
  }
}
@media (max-width: 320px) {
  * .pagination {
    margin-top: 0;
  }
}
* .pagination ul {
  margin: 0;
  padding: 0 !important;
}
@media (max-width: 568px) {
  * .pagination ul {
    display: flex;
    flex-wrap: wrap;
  }
}
* .pagination ul li {
  display: inline;
  text-decoration: none;
  padding: 0;
}
@media (max-width: 568px) {
  * .pagination ul li {
    margin: 8px;
    margin-bottom: 16px;
  }
}
@media (max-width: 320px) {
  * .pagination ul li {
    margin-bottom: 8px;
  }
}
* .pagination ul li a {
  display: inline;
  padding: 4px 12px;
  border: solid 1px rgba(190, 85, 85, 0.5);
  margin: -2px;
  font-size: 1rem;
  line-height: 2;
  color: #7D0000;
}
@media (max-width: 568px) {
  * .pagination ul li a {
    padding: 8px 12px;
    font-size: 1.25rem;
  }
}
@media (max-width: 320px) {
  * .pagination ul li a {
    padding: 4px 12px;
  }
}
* .pagination ul li a:hover {
  background-color: rgba(125, 0, 0, 0.1);
}
* .pagination ul li .active {
  border: solid 1px #4A2121;
  color: #4A2121;
}
* .pagination ul li i {
  font-size: 1rem;
  color: #7D0000;
  margin: 0 !important;
}

body.modal-open {
  padding-right: 0px !important;
  overflow-y: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 1rem;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-right: 0 !important;
  position: relative;
  background-color: #f1eff0;
  /* 跳到主要內容區塊 */
}
@media (max-width: 320px) {
  body {
    font-size: 0.775rem;
  }
}
body .navbar {
  width: 100%;
  padding: 0;
  position: fixed;
  z-index: 999;
  background-color: white;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  body .navbar {
    display: block;
    margin-top: 0;
  }
}
body .navbar .pc {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: 0 0 10px #dcdddd;
}
@media (max-width: 768px) {
  body .navbar .pc {
    display: none;
  }
}
body .navbar .pc .top {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}
@media (max-width: 1550px) {
  body .navbar .pc .top {
    max-width: 1280px;
  }
}
@media (max-width: 1367px) {
  body .navbar .pc .top {
    max-width: 1140px;
  }
}
@media (max-width: 1024px) {
  body .navbar .pc .top {
    max-width: initial;
    margin-left: 0;
    padding: 16px 24px;
  }
}
body .navbar .pc .top .logo {
  display: flex;
  align-items: center;
}
@media (max-width: 1024px) {
  body .navbar .pc .top .logo {
    width: 71%;
  }
}
body .navbar .pc .top .logo img {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}
body .navbar .pc .top .logo h1 {
  margin: 0;
  padding: 0;
}
@media (max-width: 1024px) {
  body .navbar .pc .top .logo h1 {
    font-size: 1.75rem;
  }
}
body .navbar .pc .top .right {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-left: 20px;
}
@media (max-width: 1024px) {
  body .navbar .pc .top .right {
    width: 29%;
    margin-left: 0;
    margin-right: 0;
  }
}
body .navbar .pc .top .right .icon-btn {
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: 20px;
  color: #666666;
}
@media (max-width: 568px) {
  body .navbar .pc .top .right .icon-btn {
    height: 40px;
    padding: 4px 12px;
  }
}
body .navbar .pc .top .right .icon-btn i {
  margin: 0;
  font-size: 1.625rem;
}
body .navbar .pc .top .right .btn {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
body .navbar .pc .top .right .btn ul {
  margin: 0;
  padding: 0 8px;
  background-color: #4A2121;
  color: white;
  border-radius: 4px;
  font-size: 1.25rem;
}
body .navbar .pc .top .right .btn ul li {
  display: inline;
  color: inherit;
}
body .navbar .pc .top .right .btn ul li a {
  padding: 0 8px;
  line-height: 40px;
  margin: 0;
  color: inherit;
  font-weight: bold;
}
body .navbar .pc .top .right .underline {
  color: #7D0000;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: right;
  text-decoration: underline !important;
  margin-right: 20px;
}
body .navbar .pc .top .right .btn-group .dropdown-toggle {
  font-size: 1.25rem;
  color: #666666;
  margin-left: 12px;
  padding: 8px 12px;
  font-weight: bold;
}
body .navbar .pc .top .right .btn-group .dropdown-toggle i {
  font-size: 1.75rem;
  margin-right: 8px;
}
body .navbar .pc .top .right .btn-group .dropdown-menu .dropdown-item {
  color: #666666;
  font-weight: bold;
  text-align: center;
}
body .navbar .pc .top .right .btn-group .dropdown-menu .dropdown-item:active {
  background-color: white;
}
body .navbar .pc .bottom {
  width: 100%;
  color: black;
  border-top: solid 1px #dcdddd;
}
body .navbar .pc .bottom .nav-gp {
  margin: auto;
  max-width: 1440px;
  display: flex;
}
@media (max-width: 1550px) {
  body .navbar .pc .bottom .nav-gp {
    max-width: 1280px;
  }
}
@media (max-width: 1367px) {
  body .navbar .pc .bottom .nav-gp {
    max-width: 1140px;
  }
}
@media (max-width: 1024px) {
  body .navbar .pc .bottom .nav-gp {
    padding: 2px 24px;
  }
}
body .navbar .pc .bottom .nav-gp h6 {
  color: inherit;
  margin: 0;
}
body .navbar .pc .bottom .nav-gp i {
  margin-left: 8px;
  color: rgba(255, 255, 255, 0.5);
}
body .navbar .pc .bottom .nav-gp .nav-function {
  display: flex;
  align-items: center;
  position: relative;
  text-align: center;
}
body .navbar .pc .bottom .nav-gp .nav-function:hover, body .navbar .pc .bottom .nav-gp .nav-function:focus-within {
  filter: brightness(1.05);
}
body .navbar .pc .bottom .nav-gp .nav-function:hover .nav-list, body .navbar .pc .bottom .nav-gp .nav-function:focus-within .nav-list {
  display: block;
  flex-direction: column;
  transition: 0.5s;
}
body .navbar .pc .bottom .nav-gp .nav-function:hover .nav-list a, body .navbar .pc .bottom .nav-gp .nav-function:focus-within .nav-list a {
  line-height: 1.5;
}
body .navbar .pc .bottom .nav-gp .nav-function a {
  display: block;
  width: 100%;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 12px 24px;
  color: inherit;
  position: relative;
}
body .navbar .pc .bottom .nav-gp .nav-function a i.before {
  margin-right: 4px;
}
body .navbar .pc .bottom .nav-gp .nav-function a.active {
  border-bottom: solid 4px #7D0000;
  left: 0;
  bottom: 0;
  height: 54px;
}
body .navbar .pc .bottom .nav-gp .nav-list {
  display: none;
  text-align: center;
  position: absolute;
  top: 51px;
  left: 0;
  width: 100%;
  background-color: #4A2121;
  transition: 0.5s;
}
body .navbar .pc .bottom .nav-gp .nav-list a h5 {
  margin: 0;
  padding: 12px 20px;
  color: white;
}
body .navbar .pc .bottom .nav-gp .nav-list a h5:hover {
  background-color: #7D0000;
}
body .navbar .mobile {
  display: none;
  height: 80px;
}
@media (max-width: 768px) {
  body .navbar .mobile {
    background-color: white;
    display: block;
    position: relative;
    box-shadow: 0 0 20px rgba(74, 33, 33, 0.1);
    height: 60px;
  }
}
@media (max-width: 568px) {
  body .navbar .mobile {
    display: flex;
    justify-content: center;
  }
}
body .navbar .mobile .menu {
  position: absolute;
  top: 0;
  left: 0px;
  display: flex;
}
body .navbar .mobile .menu .fas.fa-bars {
  font-size: 1.875rem;
  line-height: 60px;
  padding: 0 20px;
  color: #4A2121;
}
@media (max-width: 320px) {
  body .navbar .mobile .menu .fas.fa-bars {
    font-size: 1.625rem;
  }
}
body .navbar .mobile .menu ul {
  display: inline-block;
  width: 100vw;
  min-height: 100vh;
  background-color: #4A2121;
  font-size: 1.375rem;
  line-height: 60px;
  position: absolute;
  top: 60px;
  left: -100vw;
  margin: 0;
  padding: 0px 0 0 0;
  text-align: center;
  transition-duration: 0.7s;
  font-weight: bold;
  overflow-y: scroll;
}
@media (max-width: 768px) {
  body .navbar .mobile .menu ul {
    line-height: 50px;
  }
}
body .navbar .mobile .menu ul li {
  line-height: 3;
}
body .navbar .mobile .menu ul li a,
body .navbar .mobile .menu ul li .nav-link {
  font-size: 1.375rem;
  padding: 0;
}
@media (max-width: 320px) {
  body .navbar .mobile .menu ul li a,
  body .navbar .mobile .menu ul li .nav-link {
    font-size: 1.25rem;
  }
}
body .navbar .mobile .menu ul .nav-item.dropdown .dropdown-menu {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  text-align: center;
  box-shadow: none !important;
}
body .navbar .mobile .menu ul .nav-item.dropdown .dropdown-menu .dropdown-item {
  display: block;
  font-weight: bold;
  line-height: inherit;
  color: white !important;
  font-size: 1.375rem;
}
body .navbar .mobile .menu ul .nav-item.dropdown .dropdown-menu .dropdown-item:focus {
  background-color: inherit;
}
@media (max-width: 320px) {
  body .navbar .mobile .menu ul .nav-item.dropdown .dropdown-menu .dropdown-item {
    font-size: 1.25rem;
  }
}
body .navbar .mobile .menu ul .nav-item.dropdown .nav-link.dropdown-toggle {
  color: white !important;
}
body .navbar .mobile .menu ul .nav-item.dropdown .nav-link.dropdown-toggle:hover {
  background-color: #4a2121;
}
body .navbar .mobile .menu a {
  color: white;
}
body .navbar .mobile .menu .active-ul {
  display: inline-block;
  color: #7D0000;
  transition-duration: 0.7s;
  top: 60px;
  left: 0;
}
body .navbar .mobile .menu .active-ul li {
  color: #7D0000;
}
body .navbar .mobile .logo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 568px) {
  body .navbar .mobile .logo {
    padding-left: 64px;
    padding-right: 24px;
  }
}
body .navbar .mobile .logo img {
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 4px;
}
@media (max-width: 320px) {
  body .navbar .mobile .logo img {
    display: none;
  }
}
body .navbar .mobile .logo .title {
  font-size: 1.25rem;
  color: black;
  font-weight: bold;
  margin-left: 4px;
}
@media (max-width: 568px) {
  body .navbar .mobile .logo .title {
    padding-left: 4px;
  }
}
@media (max-width: 320px) {
  body .navbar .mobile .logo .title {
    font-size: 1rem;
  }
}
body .footer {
  background-color: #4A2121;
  font-weight: bold;
  width: 100%;
  bottom: 0;
  position: relative;
  z-index: 10px;
}
body .footer .container {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  body .footer .container {
    padding: 24px 0;
  }
}
@media (max-width: 568px) {
  body .footer .container {
    width: 100%;
    padding: 24px;
  }
}
body .footer .container #AZ {
  display: none;
}
body .footer .container .contact {
  display: flex;
  justify-content: space-between;
  color: white;
  width: 100%;
}
@media (max-width: 568px) {
  body .footer .container .contact {
    flex-wrap: wrap;
  }
}
body .footer .container .contact .block {
  width: 30%;
  padding-bottom: 12px;
}
@media (max-width: 568px) {
  body .footer .container .contact .block {
    width: 100%;
  }
}
body .footer .container .contact .block .web-title {
  font-size: 1.25rem;
  font-weight: bold;
}
body .footer .container .contact .block p.title {
  font-weight: bold;
}
body .footer .container .contact .block .link-gp {
  margin-bottom: 12px;
}
body .footer .container .contact .block .link-gp a {
  margin-right: 12px;
  border-bottom: solid 1px #ddd1aa;
  display: inline-block;
  color: #ddd1aa;
}
body .footer .container .contact .block p,
body .footer .container .contact .block a {
  color: inherit;
  font-weight: normal;
  display: block;
  line-height: 1.75;
}
body .footer .container .contact .block i {
  color: inherit;
  width: 20px;
  margin-right: 4px;
  text-align: center;
}
body .footer .container .contact .link {
  width: auto;
}
body .footer .container .contact .link .accessibility img {
  width: 113px;
  max-height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 568px) {
  body .footer .container .contact .link .accessibility img {
    margin-top: 12px;
    max-height: unset;
    width: auto;
    height: 50px;
  }
}
body .breadcrumb {
  width: 100%;
  background-color: transparent;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  body .breadcrumb {
    margin-top: 16px;
  }
}
@media (max-width: 768px) {
  body .breadcrumb {
    margin-top: 0;
    padding: 4px 0;
  }
}
@media (max-width: 568px) {
  body .breadcrumb {
    padding: 8px 16px;
    background-color: #FFF9F9;
  }
}
body .breadcrumb .container {
  padding: 0;
}
@media (max-width: 568px) {
  body .breadcrumb .container {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
body .breadcrumb .container ul {
  padding: 0;
  margin: 0;
  display: inline;
  list-style: none;
}
body .breadcrumb .container ul a {
  color: #7D0000;
}
body .breadcrumb .container ul li {
  color: #919191;
  line-height: 1.5;
  display: inline;
  list-style: none;
  margin-right: 2px;
}
body .breadcrumb .container ul .fas {
  font-size: 1rem;
  line-height: 1.5;
  color: #7D0000;
}
body .breadcrumb .container ul span {
  color: black;
}
body .back-top {
  width: 50px;
  height: 50px;
  z-index: 999;
  position: fixed;
  right: 40px;
  bottom: 30px;
  border-radius: 50%;
  font-size: 1.375rem;
  color: #7D0000;
  line-height: 45px;
  text-align: center;
}
@media (max-width: 1024px) {
  body .back-top {
    right: 25px;
    bottom: 25px;
  }
}
@media (max-width: 568px) {
  body .back-top {
    background-color: #7d0000;
    color: white;
  }
}
@media (max-width: 320px) {
  body .back-top {
    bottom: 30px;
    width: 40px;
    height: 40px;
    line-height: 37px;
    font-size: 1rem;
  }
}
@media (max-width: 568px) {
  body {
    border-radius: unset;
  }
}
body form {
  border-radius: 20px;
  margin: auto;
}
@media (max-width: 568px) {
  body form {
    border-radius: 0;
    padding: 0;
    max-width: unset;
    width: 100%;
    background-color: transparent;
  }
}
body form article {
  margin-top: 32px;
}
body form .form-gp {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 20px;
  text-align: justify;
}
body form .form-gp:nth-last-of-type(1) {
  margin-bottom: 0;
}
body form .form-gp h3 {
  margin-bottom: 12px;
  text-align: left;
  width: 100%;
}
body form .form-gp p {
  width: 100%;
  font-size: 1rem;
  padding-top: 8px;
  line-height: 1.5;
}
body form .form-gp a {
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: bold;
  text-align: center;
  margin-top: 4px;
}
body form .form-gp .address {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
body form .form-gp .address select {
  width: 49%;
  margin-bottom: 12px;
}
@media (max-width: 568px) {
  body form .form-gp .address select {
    width: 100%;
  }
}
body form .form-gp .file-upload {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 4px;
}
@media (max-width: 568px) {
  body form .form-gp .file-upload {
    flex-wrap: wrap;
  }
}
body form .form-gp .file-upload input[type=button] {
  width: auto;
  color: white;
  color: #4A2121;
  border: solid 1px #BE5555;
  margin: 0;
  margin-right: 8px;
}
@media (max-width: 568px) {
  body form .form-gp .file-upload input[type=button] {
    width: 100%;
    margin-bottom: 12px;
    margin-right: 0;
  }
}
body form .form-gp .file-upload input[type=button][disabled] {
  border: solid 1px #919191;
  background-color: #e5e5e5 !important;
  color: #666666 !important;
}
body form .form-gp .file-upload input[type=button][disabled]:hover {
  filter: unset;
}
body form .form-gp .file-upload span,
body form .form-gp .file-upload p {
  padding: 0;
  margin: 0;
  color: #666666;
}
body form .form-gp .file-upload .notice {
  font-size: 1.25rem;
  margin-right: 4px !important;
}
body form .form-gp .btn-gp {
  width: 100%;
  padding-top: 12px;
}
body form .form-gp .btn-gp a {
  font-size: 1rem;
  margin-right: 12px;
  padding: 4px 12px;
  padding-left: 0;
}
body form .form-gp .btn-gp a i {
  margin-right: 8px;
}
body form .form-gp .icon-btn {
  padding: 0 8px;
  background-color: transparent;
  color: #4A2121;
  height: 35px;
}
body form .form-gp .icon-btn i {
  margin: 0;
  font-size: 1.375rem;
}
body form .form-gp .date-gp,
body form .form-gp .time-gp {
  width: 100%;
  position: relative;
}
body form .form-gp .range {
  margin-bottom: 12px;
}
body form .form-gp .label-withButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 568px) {
  body form .form-gp .label-withButton {
    width: 100%;
  }
}
body form .form-gp .label-withButton label {
  width: initial;
}
body form .form-gp .label-withButton button {
  font-size: 1rem;
  padding: 2px 8px;
  margin-left: 12px;
  margin-bottom: 8px;
  height: initial;
}
@media (max-width: 568px) {
  body form .form-gp .label-withButton button {
    font-size: 1.25rem;
    margin-bottom: 12px;
    margin-top: 0;
  }
}
body form .form-gp .label-withButton .download-sample {
  font-size: 1rem;
  padding: 8px 16px;
  padding-right: 0;
  text-align: left;
  color: #7D0000;
  text-align: right;
  margin-top: 0;
}
body form .form-gp .label-withButton .download-sample i {
  margin-right: 8px;
}
body form .choice .item {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 8px;
}
@media (max-width: 568px) {
  body form .choice .item {
    width: 100%;
  }
  body form .choice .item:not(:nth-last-child(1)) {
    margin-bottom: 16px;
  }
}
body form .choice h5 {
  width: 100%;
  text-align: left;
  margin-bottom: 8px;
}
body form .choice label {
  width: initial;
  font-size: 1rem;
  color: #666666;
  font-weight: normal;
  margin-bottom: 0;
  margin-right: 20px;
}
body form .choice a {
  font-size: 1rem;
}
body form .choice input[type=text] {
  margin-bottom: 16px;
}
body form .choice-btn h5 {
  width: 100%;
  margin-bottom: 8px;
}
@media (max-width: 568px) {
  body form .choice-btn .type-gp {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
body form .choice-btn .type-gp a,
body form .choice-btn .type-gp button {
  margin-right: 8px;
}
@media (max-width: 568px) {
  body form .choice-btn .type-gp a,
  body form .choice-btn .type-gp button {
    margin-right: 0;
    margin-bottom: 12px;
    width: 22%;
    height: auto;
    padding: 4px 12px;
  }
}
body form .choice-btn .type-gp .button-outline.active {
  color: #4A2121 !important;
}
body form .choice-btn .item {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 8px;
}
@media (max-width: 568px) {
  body form .choice-btn .item {
    width: auto;
  }
}
body form .choice-btn .item input[type=radio],
body form .choice-btn .item input[type=checkbox] {
  display: none;
}
body form .choice-btn .item input[type=radio] + label,
body form .choice-btn .item input[type=checkbox] + label {
  display: inline-block;
  color: #7D0000;
  border: solid 1px #BE5555;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 8px;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  transition: 0.3s;
}
body form .choice-btn .item input[type=radio] + label:hover,
body form .choice-btn .item input[type=checkbox] + label:hover {
  filter: brightness(1.05);
}
body form .choice-btn .item input[type=radio]:checked + label,
body form .choice-btn .item input[type=checkbox]:checked + label {
  color: white;
  color: #4A2121;
}
body form .datetime {
  justify-content: space-between;
}
body form .datetime .item {
  width: 48%;
}
@media (max-width: 568px) {
  body form .datetime .item {
    width: 100%;
  }
  body form .datetime .item:not(:last-child) {
    margin-bottom: 12px;
  }
}
body form .datetime .item .time {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
body form .datetime .item .time select {
  width: 45%;
}
body form .datetime .item .time p {
  font-size: 1.25rem;
  line-height: 2;
  color: #666666;
  padding: 0;
  width: auto;
}
body form .code-gp {
  width: 100%;
  padding: 0;
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  body form .code-gp {
    justify-content: start;
  }
}
body form .code-gp label {
  width: 25%;
  text-align: left;
}
@media (max-width: 568px) {
  body form .code-gp label {
    width: 30%;
  }
}
body form .code-gp .text-gp {
  width: 100%;
  display: flex;
  align-items: center;
}
@media (max-width: 568px) {
  body form .code-gp .text-gp {
    flex-wrap: wrap;
  }
}
body form .code-gp .text-gp .code {
  width: 40%;
  margin-right: 10px;
  margin-bottom: 0;
}
@media (max-width: 568px) {
  body form .code-gp .text-gp .code {
    width: 100%;
    margin-bottom: 12px;
    margin-right: 0;
  }
}
body form .code-gp .text-gp .RP {
  height: 25px;
  margin: 0;
  margin-right: 10px;
}
@media (max-width: 1367px) {
  body form .code-gp .text-gp .RP {
    width: auto;
    max-height: unset;
    height: 30px;
  }
}
@media (max-width: 568px) {
  body form .code-gp .text-gp .RP {
    height: 35px;
  }
}
body form .code-gp .text-gp .reform {
  margin-right: 12px;
  height: auto;
  color: #4A2121;
  font-weight: bold;
  padding: 4px 8px;
  background-color: #FFF9F9;
}
@media (max-width: 568px) {
  body form .code-gp .text-gp .reform {
    height: 40px;
    padding: 4px 12px;
  }
}
body form .code-gp .text-gp .reform i {
  margin: 0;
  font-size: 1.25rem;
}
body form .code-gp .text-gp .btnPlayAudio {
  height: auto;
  color: #4A2121;
  font-weight: bold;
  padding: 4px 8px;
  background-color: #FFF9F9;
}
@media (max-width: 568px) {
  body form .code-gp .text-gp .btnPlayAudio {
    height: 40px;
    padding: 4px 12px;
  }
}
body form .code-gp .text-gp .btnPlayAudio i {
  margin: 0;
  font-size: 1.25rem;
}
body form .finished-file-list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0;
  width: 100%;
  border-bottom: solid 1px #dcdddd;
  margin-bottom: 20px;
  padding-bottom: 16px;
}
body form .finished-file-list .file-gp {
  font-size: 1rem;
  padding: 0;
  margin: 0;
  text-align: left;
  border-radius: 6px;
  display: flex;
  align-items: start;
  margin-bottom: 4px;
}
@media (max-width: 568px) {
  body form .finished-file-list .file-gp {
    justify-content: space-between;
  }
}
body form .finished-file-list .file-gp .file-name {
  margin-bottom: 0;
  color: black;
  font-weight: bold;
}
body form .finished-file-list .file-gp i {
  margin-right: 8px;
  font-size: 1rem;
  color: #666666;
}
body form .finished-file-list .file-gp .icon-btn {
  margin-left: 12px;
  height: unset;
}
body form .finished-file-list .file-gp .icon-btn i {
  margin-right: 0;
}
body form .finished-file-list .file-gp button {
  background-color: white;
  color: black;
}
body form .btn-tool {
  width: 100%;
  text-align: center;
  margin-top: 36px;
}
@media (max-width: 568px) {
  body form .btn-tool {
    text-align: left;
    margin-top: 24px;
  }
}
body form .btn-tool input {
  width: auto !important;
  margin: 0 4px;
}
@media (max-width: 568px) {
  body form .btn-tool input {
    width: 100% !important;
    margin: 0;
    margin-bottom: 12px;
  }
}
body .table-default {
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
}
body .table-default.ellipsis-table {
  table-layout: fixed;
}
body .table-default table,
body .table-default th,
body .table-default td {
  text-align: left;
}
body .table-default tr {
  border-bottom: solid 1px #dcdddd;
}
body .table-default tr:hover {
  background-color: #f8f8f8 !important;
}
body .table-default tr th {
  text-align: left;
  padding: 12px 16px;
  color: white;
  background-color: #4A2121;
}
@media (max-width: 568px) {
  body .table-default tr th.ellipsis-th {
    width: 100%;
  }
}
body .table-default tr td {
  color: #666666;
  vertical-align: middle;
  word-wrap: break-word;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 16px;
}
@media (max-width: 568px) {
  body .table-default tr td {
    flex-wrap: wrap;
    text-align: left;
    padding: 12px 8px;
  }
}
@media (max-width: 568px) {
  body .table-default tr td .ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 2; /*行數*/
    -webkit-box-orient: vertical;
    white-space: normal;
  }
}
body .table-default tr td .function {
  padding-left: 8px;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 568px) {
  body .table-default tr td .function {
    padding-left: 0;
    flex-wrap: wrap;
    align-items: start;
    margin-top: 12px;
  }
}
body .table-default tr td .function a.link {
  margin: 8px 0 !important;
  margin-right: 20px !important;
  font-size: 0.875rem;
}
@media (max-width: 768px) {
  body .table-default tr td .function a.link {
    margin-bottom: 12px;
  }
}
@media (max-width: 568px) {
  body .table-default tr td .function a.link {
    font-size: 1rem;
    border: solid 1px #7D0000;
    padding: 4px 8px;
    border-radius: 4px;
    margin-bottom: 8px;
    margin-right: 8px !important;
  }
  body .table-default tr td .function a.link.notice {
    border: solid 1px #da382d;
  }
}
body .table-default tr td .function a.link:last-child {
  margin-right: 0 !important;
}
body .table-default tr td .function a.link span {
  font-weight: bold;
}
body .table-default tr td .function a.link i {
  font-size: 1rem;
  margin-right: 2px;
  text-align: right;
}
body .table-default tr .btn {
  margin: 0 4px;
}
@media (max-width: 768px) {
  body .table-default tr .btn {
    margin: 4px 12px;
  }
}
@media (max-width: 568px) {
  body .table-default tr .btn {
    margin: 4px 12px 4px 0 !important;
  }
}
body .table-default tr button {
  margin: 0 4px;
}
body .table-default tr i {
  margin-right: 4px;
  font-size: 0.875rem;
}
body .table-default tr .cancel {
  color: #da382d;
}
body .table-default tr a {
  color: #7D0000;
}
body .table-default .state {
  background-color: #7D0000;
  color: white;
  border-radius: 4px;
  padding: 0;
  padding: 0 8px;
}
body .table-default .green {
  color: #00ad45;
}
body .rowspan .color {
  background-color: rgba(167, 229, 255, 0.1) !important;
}
body .rowspan tr:nth-child(even) {
  background-color: white;
}
@media (max-width: 768px) {
  body .rowspan th:nth-child(1) {
    width: 23% !important;
  }
  body .rowspan th:nth-child(3) {
    width: 15% !important;
  }
}
@media (max-width: 568px) {
  body .rowspan th {
    width: initial;
  }
}
body .mb-separate table,
body .mb-separate th,
body .mb-separate td {
  border: none;
}
@media (max-width: 568px) {
  body .mb-separate thead {
    display: none;
  }
}
@media (max-width: 568px) {
  body .mb-separate tr {
    display: block;
    margin-bottom: 20px;
  }
  body .mb-separate tr:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 568px) {
  body .mb-separate tr:nth-child(even) {
    background-color: white;
  }
}
body .mb-separate tr th {
  color: #4A2121;
  text-align: left;
  padding: 12px 16px;
}
@media (max-width: 568px) {
  body .mb-separate tr td {
    display: block;
    flex-wrap: wrap;
    text-align: left;
    border: solid 1px rgba(190, 85, 85, 0.4);
  }
  body .mb-separate tr td::before {
    width: 100%;
    display: block;
    content: attr(data-title);
    font-weight: bold;
    font-size: 1rem;
    text-align: left;
    color: blacK;
    margin-bottom: 4px;
  }
  body .mb-separate tr td:nth-child(odd) {
    background-color: rgba(190, 85, 85, 0.1);
  }
}
body .for_accessibility .go-main {
  position: absolute;
  top: 18px;
  left: 16px;
  z-index: 1000;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  overflow: hidden;
  color: #fff;
  border-radius: 4px;
}
body .for_accessibility .go-main:focus {
  width: auto;
  height: auto;
  padding: 6px;
  background-color: #4A2121;
}
body .for_accessibility div {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: transparent;
  opacity: 0.1;
}
body .bg-img {
  position: fixed;
  -o-object-position: center center;
     object-position: center center;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  background-image: url("../img/bgimg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% center;
}
@media (max-width: 1024px) {
  body .bg-img {
    width: 100%;
    height: 100%;
    background-position: 30% center;
    background-image: url("../img/bgimg-1024.jpg");
  }
}
@media (max-width: 568px) {
  body .bg-img {
    background-image: url("../img/bgimg-568.jpg");
  }
}
body.no-bg .bg-img {
  background-image: initial;
  background-color: white;
}
body main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  padding-top: 155px;
  padding-bottom: 40px;
  min-height: 747px;
  width: 100%;
}
@media (max-width: 1550px) {
  body main {
    min-height: unset;
  }
}
@media (max-width: 1367px) {
  body main {
    min-height: 79vh;
  }
}
@media (max-width: 1024px) {
  body main {
    min-height: 84vh;
  }
}
@media (max-width: 768px) {
  body main {
    padding-top: 80px;
    min-height: 78vh;
  }
}
@media (max-width: 568px) {
  body main {
    min-height: unset;
    padding-top: 60px;
    padding-bottom: 24px;
  }
}
body main .card {
  background-color: white !important;
  padding: 32px 40px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: unset;
  display: block;
}
@media (max-width: 768px) {
  body main .card {
    padding: 24px 32px;
  }
}
@media (max-width: 568px) {
  body main .card {
    padding: 24px;
  }
}
body main section {
  width: 100%;
}
body main .content-webmap h2 {
  text-align: center;
  margin-bottom: 24px;
}
body main .content-webmap .list-gp {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-top: 36px;
}
@media (max-width: 768px) {
  body main .content-webmap .list-gp {
    justify-content: space-between;
  }
}
@media (max-width: 568px) {
  body main .content-webmap .list-gp {
    margin-bottom: 20px;
  }
}
body main .content-webmap .list-gp .text-gp {
  width: 23%;
  margin-right: 20px;
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  body main .content-webmap .list-gp .text-gp {
    width: 30%;
  }
}
@media (max-width: 768px) {
  body main .content-webmap .list-gp .text-gp {
    width: 48%;
    margin-right: 0;
    margin-bottom: 16px;
  }
}
@media (max-width: 568px) {
  body main .content-webmap .list-gp .text-gp {
    width: 100%;
    margin-right: 0;
    margin-bottom: 16px;
  }
  body main .content-webmap .list-gp .text-gp:last-child {
    margin-bottom: 0;
  }
}
body main .content-webmap .list-gp .text-gp ul {
  padding: 16px;
  padding-top: 8px;
  list-style: none;
  font-size: 1rem;
  margin: 0;
  margin-bottom: 20px;
  line-height: 2;
}
@media (max-width: 568px) {
  body main .content-webmap .list-gp .text-gp ul {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
body main .content-webmap .list-gp .text-gp ul a {
  color: #7D0000;
}
body main .content-webmap .list-gp .text-gp .title {
  display: block;
  font-weight: bold;
  font-size: 1.25rem;
  color: #4A2121;
  background-color: #FFF9F9;
  padding: 8px 16px;
  margin: 0;
  border-radius: 4px;
}
body main .content-normal ul:not(.nav, .breadcrumb) {
  padding-left: 1.25rem;
}
body main .content-normal ul:not(.nav, .breadcrumb) li:not(.nav-item) {
  line-height: 2;
  color: #666666;
  list-style-position: outside;
}
body main .content-normal ol {
  padding: 0;
}
body main .content-normal ol li {
  line-height: 2;
  color: #666666;
  list-style-position: inside;
  padding: 0;
}
body main .content-normal h3,
body main .content-normal h4,
body main .content-normal h5 {
  margin-top: 20px;
  margin-bottom: 8px;
}
body main .content-normal h2 {
  text-align: center;
  margin-bottom: 24px;
}
body main .content-normal .title {
  font-weight: bold;
  color: black;
}
@media (max-width: 768px) {
  body main .content-index {
    padding-bottom: 0;
  }
}
body main .content-index .card {
  margin-bottom: 48px;
}
@media (max-width: 768px) {
  body main .content-index .card {
    margin-bottom: 36px;
  }
}
@media (max-width: 568px) {
  body main .content-index .card {
    margin-bottom: 20px;
  }
}
body main .content-index .card ul {
  margin-bottom: 4px;
}
body main .content-index .card .btn {
  width: 100%;
  text-align: right;
  padding: 0;
}
@media (max-width: 768px) {
  body main .content-index .card .btn {
    padding-top: 8px;
  }
}
@media (max-width: 568px) {
  body main .content-index .card .btn button {
    width: 100%;
  }
}
body main .content-index .type-gp {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 568px) {
  body main .content-index .type-gp {
    flex-wrap: wrap;
  }
}
body main .content-index .type-gp .card {
  width: 48%;
  display: flex;
  flex-direction: row;
  padding: 52px 40px;
  margin-bottom: 0;
}
@media (max-width: 1367px) {
  body main .content-index .type-gp .card {
    padding: 40px;
  }
}
@media (max-width: 768px) {
  body main .content-index .type-gp .card {
    flex-wrap: wrap;
    width: 47.5%;
  }
}
@media (max-width: 568px) {
  body main .content-index .type-gp .card {
    width: 100%;
    margin-bottom: 20px;
    padding: 24px;
  }
  body main .content-index .type-gp .card:last-child {
    margin-bottom: 0;
  }
}
body main .content-index .type-gp .card img {
  width: 100px;
  height: 100px;
  margin-bottom: 12px;
}
@media (max-width: 1367px) {
  body main .content-index .type-gp .card img {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 768px) {
  body main .content-index .type-gp .card img {
    width: 60px;
    height: 60px;
  }
}
body main .content-index .type-gp .card .left {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: solid 1px #dcdddd;
  padding-right: 24px;
}
@media (max-width: 768px) {
  body main .content-index .type-gp .card .left {
    width: 100%;
    border: none;
    border-bottom: solid 1px #dcdddd;
    padding-right: 0;
    padding-bottom: 16px;
  }
}
body main .content-index .type-gp .card .left h2 {
  margin-bottom: 0;
}
@media (max-width: 568px) {
  body main .content-index .type-gp .card .left h2 {
    font-size: 1.625rem;
  }
}
body main .content-index .type-gp .card .right {
  width: 60%;
  padding: 32px;
  padding-left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1367px) {
  body main .content-index .type-gp .card .right {
    padding: 16px 32px;
    padding-right: 0;
  }
}
@media (max-width: 768px) {
  body main .content-index .type-gp .card .right {
    width: 100%;
    padding: 0;
    padding-top: 16px;
  }
}
body main .content-index .type-gp .card .right p {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.75;
  text-align: left;
}
@media (max-width: 568px) {
  body main .content-index .type-gp .card .right p {
    font-size: 1.25rem;
  }
}
@media (max-width: 320px) {
  body main .content-index .type-gp .card .right p {
    font-size: 1rem;
  }
}
body main .content-apply {
  max-width: 1440px;
  margin: auto;
  padding: 24px 0;
}
@media (max-width: 1550px) {
  body main .content-apply {
    max-width: 1280px;
  }
}
@media (max-width: 1367px) {
  body main .content-apply {
    max-width: 1140px;
  }
}
@media (max-width: 568px) {
  body main .content-apply {
    padding-top: 0;
  }
}
body main .content-apply h2 {
  text-align: center;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  body main .content-apply.container {
    padding-top: 0;
  }
}
body main .content-apply .card {
  padding: 40px 0;
}
@media (max-width: 768px) {
  body main .content-apply .card {
    padding: 32px 56px;
  }
}
@media (max-width: 568px) {
  body main .content-apply .card {
    padding: 24px;
  }
}
body main .content-apply .card form {
  max-width: 800px;
  padding-bottom: 24px;
}
@media (max-width: 568px) {
  body main .content-apply .card form {
    padding-bottom: 0;
  }
}
body main .content-apply .card form ul {
  margin-bottom: 20px;
}
@media (max-width: 568px) {
  body main .content-apply .card form ul li {
    text-align: justify;
  }
}
body main .content-apply .card form hr {
  margin: 48px 0;
}
body main .content-apply .card .form-view {
  margin: auto;
  max-width: 800px;
  padding-bottom: 24px;
}
@media (max-width: 568px) {
  body main .content-apply .card .form-view {
    padding-bottom: 0;
  }
}
body main .content-apply .card .form-view .view-gp {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 20px;
  text-align: justify;
}
body main .content-apply .card .form-view .view-gp:nth-last-of-type(1) {
  margin-bottom: 0;
}
body main .content-apply .card .form-view .view-gp h5 {
  width: 100%;
}
body main .content-apply .card .form-view .view-link h5 {
  width: 100%;
  margin-bottom: 4px;
}
body main .content-apply .card .form-view .view-link .link {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  flex-direction: column;
}
body main .content-apply .card .form-view .view-link .link a {
  font-size: 1rem;
  line-height: 1.75;
  text-align: left;
  font-weight: bold;
}
body main .content-apply .card .form-view .view-link .link a i {
  margin-right: 8px;
}
body main .content-apply .card .form-view hr {
  margin: 48px 0;
}
@media (max-width: 568px) {
  body main .content-apply .card .form-view hr {
    margin: 36px 0;
  }
}
body main .content-apply .card .form-view h3 {
  text-align: center;
  margin-bottom: 20px;
}
body main .content-apply .card .form-view table.reply {
  margin-bottom: 52px;
}
@media (max-width: 568px) {
  body main .content-apply .card .form-view table.reply {
    margin-bottom: 48px;
  }
}
body main .content-apply .card .form-view table.reply:last-child {
  margin-bottom: 0;
}
@media (max-width: 568px) {
  body main .content-apply .card .form-view table.reply:last-child {
    margin-bottom: 12px;
  }
}
@media (max-width: 568px) {
  body main .content-apply .card .form-view table.reply thead th:first-child {
    width: 35% !important;
  }
}
@media (max-width: 568px) {
  body main .content-apply .card .form-view table.reply thead th:nth-child(2) {
    width: 65% !important;
  }
}
body main .content-apply-success .container {
  height: inherit;
  text-align: center;
  padding: 56px 0;
}
body main .content-apply-success .container p {
  text-align: center;
}
@media (max-width: 768px) {
  body main .content-apply-success .container p {
    padding: 0 64px;
  }
}
@media (max-width: 568px) {
  body main .content-apply-success .container p {
    padding: 0 24px;
    text-align: justify;
  }
}
body main .content-apply-success .container img {
  width: 80px;
  margin-bottom: 12px;
}
body main .content-apply-success .container h2 {
  margin-bottom: 4px;
}
body main .content-apply-success .container .btn {
  margin-top: 20px;
}
body main .content-apply-success .container form {
  max-width: 400px;
  margin-top: 20px;
}
body main .content-apply-success .container form ul {
  margin-bottom: 20px;
}
@media (max-width: 568px) {
  body main .content-apply-success .container form ul li {
    text-align: justify;
  }
}
body main .content-apply-success .container form hr {
  margin: 48px 0;
}
body main .content-apply-success .container form .btn {
  margin-top: 0;
}
@media (max-width: 568px) {
  body main .content-apply-success .container form .btn {
    width: 100% !important;
    padding: 0;
  }
}/*# sourceMappingURL=style.css.map */